.custom-form {
  border: 0;
  padding: 10px 0;
  font-family: inter;
}

label {
  font-family: inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #4d585f;
}

.step-one {
  .title-input-box {
    padding: 12px 24px;
    border: 1px solid #969ea3;
    height: 100px;
  }
}

.step-two {
  .radio-cat-wrapper {
    border-bottom: 1px solid rgba(26, 34, 39, 0.15);
    padding: 12px 0;

    .form-check-input {
      height: 18px;
      width: 18px;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .action-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-top: 36px;
  }
}

.step-six {
  .tags-input-container {
    border: 1px solid #969ea3;
    padding: 24px;
    // height: 150px;

    display: flex;
    gap:8px;
    flex-wrap: wrap;

    .tag-item {
      background-color: #e1deff;
      padding: 4px 8px;

      .text {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #1a2227;
      }
    }

    .tags-input{
        border: none;
        outline: none;

        &:focus{
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
  }
}
