.custom-form {
    border: 0;
    padding: 10px 0;
    font-family: inter;
}

label {
    font-family: inter;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #4d585f;
}

.step-one {

    .title-input-box {
        padding: 12px 24px;
        border: 1px solid #969ea3;
        height: 100px;
    }
}

.step-two{
    
}
