.form-modal {
  .modal-dialog {
    min-width: 80% !important;
    .modal-content {
      border: none;
      border-radius: 0;

      .close-btn {
        position: absolute;
        top: -25px;
        right: -25px;
      }

      .step-form {
        display: flex;

        .step-side-bar {
          max-width: 345px;
          width: 100%;
          padding: 36px;
          background-color: #f7f7f8;

          button {
            font-weight: 600;
            font-family: inter;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            color: #0a8270;
            margin-bottom: 24px;
          }
        }

        .step-info {
          width: 100%;

          .step-info-details {
            padding: 48px;
          }

          .step-info-footer {
            padding: 24px 0;
            margin: 0 24px;
            border-top: 1px solid #e3e8eb;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
              font-weight: 600;
              font-size: 12px;
              line-height: 15px;
              letter-spacing: 0.07em;
              text-transform: uppercase;
              color: #4d585f;
              padding: 12px 26px;
              border: 1px solid #969EA3;
              background-color: transparent;
              font-family: inter;
            }
          }
        }
      }
    }
  }
}
