.form-modal .modal-dialog {
  max-width: 80% !important;
}
.form-modal .modal-dialog .modal-content {
  border: none;
  border-radius: 0;
}
.form-modal .modal-dialog .modal-content .close-btn {
  position: absolute;
  top: -25px;
  right: -25px;
}
.form-modal .modal-dialog .modal-content .step-form {
  display: flex;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar {
  max-width: 345px;
  width: 100%;
  padding: 36px;
  background-color: #f7f7f8;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar button {
  font-weight: 600;
  font-family: inter;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #0a8270;
  margin-bottom: 24px;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav {
  display: flex;
  flex-direction: column;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item.active .stepper-icon {
  background-color: #0a8270;
  border: 1px solid #0a8270;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item.active .stepper-icon .stepper-number {
  color: #fff;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item.active .stepper-label .stepper-title {
  color: #1a2227;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item.completed .stepper-icon {
  border: 1px solid #0a8270;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item:last-child .stepper-line {
  height: 0px;
  width: 0px;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item .stepper-line {
  display: block;
  content: " ";
  justify-content: center;
  position: absolute;
  z-index: 0;
  top: 28px;
  bottom: 0;
  width: 25px;
  transform: translate(50%);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #889fb7;
  height: 19px;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item .stepper-icon {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease, background-color 0.2s ease;
  width: 25px;
  height: 25px;
  border: 1px solid #969ea3;
  border-radius: 100%;
  background-color: #fff;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item .stepper-icon .stepper-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #969ea3;
  font-family: inter;
}
.form-modal .modal-dialog .modal-content .step-form .step-side-bar .stepper-nav .stepper-item .stepper-label .stepper-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #969ea3;
  margin: 0;
  font-family: inter;
}
.form-modal .modal-dialog .modal-content .step-form .step-info {
  width: 100%;
}
.form-modal .modal-dialog .modal-content .step-form .step-info .step-info-details {
  padding: 48px;
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.form-modal .modal-dialog .modal-content .step-form .step-info .step-info-footer {
  padding: 24px 0;
  margin: 0 24px;
  border-top: 1px solid #e3e8eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=stepFormModal.css.map */