.globalSearchInput {
  background-image: url(../../assets/images/search.svg);
  background-position: calc(0% + 8px) center;
  background-repeat: no-repeat;
  padding-left: 34px;
  transition: all 0.3s;
}
.globalSearchInput:focus {
  border: none;
  outline: none;
}

.header-grid-container {
  display: flex;
  justify-content: space-between;
}
.header-grid-container .proposeBtn {
  background: #0a8270;
  border-radius: 100px;
  width: 98px;
  height: 21px;
  padding-bottom: 3px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.header-grid-container .proposeBtn svg {
  padding-bottom: 3px;
  width: 100%;
}
.header-grid-container .btn {
  border: 0;
  box-shadow: 0;
  outline: 0;
  background-color: transparent;
}

.dropdown .btn-authInfo.dropdown-toggle::after {
  display: none;
}
.dropdown .dropdown-menu {
  right: calc(0% + 15px) !important;
  left: initial !important;
  transform: initial !important;
  top: calc(100% + 35px) !important;
  transition: all linear 0.3s;
  width: 370px;
  display: block;
  visibility: hidden;
  opacity: 0;
  border: 0;
  border-top: 4px solid green;
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.08);
}
@media (max-width: 576px) {
  .dropdown .dropdown-menu {
    width: 240px;
  }
}
.dropdown .is-dropdown-toggle:focus {
  box-shadow: none;
  outline: none;
}
.dropdown .is-dropdown-toggle:focus ~ .dropdown-menu.show {
  right: calc(0% + 0px) !important;
  visibility: visible;
  opacity: 1;
}
.dropdown .notify-dropdown-menu::after {
  content: "";
  position: absolute;
  top: -26px;
  right: 20%;
  background-image: url(../../assets/images/dropdownArrow.svg);
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}
.dropdown .notify-dropdown-menu .dropdown-list-group {
  max-height: 500px;
  overflow-x: auto;
  display: block;
}
.dropdown .notify-dropdown-menu .dropdown-list-group .list-group-item {
  transition: all 0.3s linear;
  border-radius: 4px;
  border-color: #f0f1f2;
}
.dropdown .notify-dropdown-menu .dropdown-list-group .list-group-item:hover {
  background-color: #f4f5f8;
}
.dropdown .notify-dropdown-menu .dropdown-list-group .list-group-item .list-group-item-linkable {
  text-decoration: none;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 10px;
}
.dropdown .notify-dropdown-menu .dropdown-list-group .list-group-item .list-group-item-linkable:hover p {
  color: #0a8270 !important;
}
.dropdown .notify-dropdown-menu .dropdown-list-group .list-group-item .list-group-item-linkable:hover svg * {
  fill: #0a8270 !important;
}

.top-header-btn {
  width: 96px;
  height: 21px;
  background: #0a8270;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.top-header-btn:hover {
  color: #dfdfdf;
}

.navigation {
  border-bottom: 1px solid #dddedf;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.3s linear;
}
.navigation .btn-menu-toggle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--clr-tomato);
  background-color: transparent;
}
@media (max-width: 1200px) {
  .navigation {
    position: initial;
    background-color: #fff;
  }
}
@media (max-width: 768px) {
  .navigation .nav-grid-container .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transform: translateX(-100%);
    transition: all 0.3s linear;
  }
  .navigation .nav-grid-container .navbar.translateX {
    transform: translateX(0%);
  }
}
.navigation .nav-grid-container .navbar #menu li {
  position: relative;
  list-style: none;
}
@media (max-width: 768px) {
  .navigation .nav-grid-container .navbar #menu li + li {
    margin-top: 10px;
  }
}
.navigation .nav-grid-container .navbar #menu li .logo > img {
  transition: all 0.3s linear;
}
.navigation .nav-grid-container .navbar #menu li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1a2227;
}
.navigation .nav-grid-container .navbar #menu li a.navLink {
  position: relative;
}
.navigation .nav-grid-container .navbar #menu li a.navLink::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -2px;
  left: 0;
  background-color: #1a2227;
  transition: 0.3s all;
}
.navigation .nav-grid-container .navbar #menu li a.navLink:hover::after {
  background-color: #1a2227;
  width: 100%;
}
@media (min-width: 768px) {
  .navigation .nav-grid-container .navbar #menu li:hover > ul.dropdown {
    display: block;
  }
}/*# sourceMappingURL=Header.css.map */